<a href="https://colab.research.google.com/github/Kieran-11/1002/blob/main/Assignments/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [40]:
# Load pandas and the data
import pandas as pd
import numpy as np
data = pd.read_csv('ride_share.csv')

In [41]:
# show how many rows and columns are in this dataset
print("There are", len(list(data.index)),"rows and", len(list(data.columns)), "in the data set.")

There are 25760 rows and 10 in the data set.

In [42]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
data['duration'] = data['duration'].str.replace(' minutes','') #truncates everything in the string that isn't a number which allows them to be cast as ints
data['duration'] = data['duration'].astype(int)

In [43]:
# Now display the datatypes in the updated dataframe
data.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [44]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
print("The maximum duration is", data['duration'].max(),"minutes. The minimum duration is", data['duration'].min(),"minute.")

The maximum duration is 1372 minutes. The minimum duration is 1 minute.

In [45]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
data_new = data.query('duration<=60')

In [46]:
# Now show both the min and max values of the duration column for your new dataset.
print("The maximum duration is", data_new['duration'].max(),"minutes. The minimum duration is", data_new['duration'].min(),"minute.")

The maximum duration is 60 minutes. The minimum duration is 1 minute.

In [47]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
data_tire = data_new.query('tire_size==26')

In [48]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
data_final = data_new.query("user_gender == 'Female'") #creates a data frame of only female riders which allows for an easy count of the parameters
print("There are",len(list(data_final.index)),"female riders with 26 inch tires with ride durations of an hour or less.")

There are 5970 female riders with 26 inch tires with ride durations of an hour or less.

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [49]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
df = pd.read_csv('messy-data.csv')
df.duplicated().sum()

287

In [50]:
# Next, remove all duplicate rows using Python.
df_clean = df.drop_duplicates()
df_clean.duplicated().sum() #checks to make sure no duplicates are left

0

In [51]:
df_clean.head()

   id  sepal_length  sepal_width  petal_length petal_width    species
0   1           3.5          2.9           1.4         0.5  virginica
1   2           3.6          3.2           3.0         0.5     setosa
2   3           3.8          NaN           2.2         1.5     setosa
3   4           5.8          2.7           2.6         1.2  virginica
4   5           4.9          3.6           3.0         1.2  virginica

In [17]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
df_clean2 = df_clean.query("petal_width!='gg28'") #non int pieces of data in petal_width
df_clean3 = df_clean2.query("petal_width!='gg29'")

#had to manually go through petal width and replace the NaN values because
#the column was type object and could not be cast as another type with
#the NaN values present
df_clean3['petal_width'] = pd.to_numeric(df_clean3['petal_width'])
petal_width_mean = df_clean3['petal_width'].mean(skipna=True)
for idx, value in df_clean3['petal_width'].items():
    if pd.isna(value):
        df_clean3.loc[idx, 'petal_width'] = petal_width_mean

#fills other columns with their means
df_filled = df_clean3.fillna(df_clean3.mean())
df_filled.head()

<ipython-input-17-b4b9011c5a65>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean3['petal_width'] = pd.to_numeric(df_clean3['petal_width'])
<ipython-input-17-b4b9011c5a65>:28: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_filled = df_clean3.fillna(df_clean3.mean())

   id  sepal_length  sepal_width  petal_length  petal_width    species
0   1           3.5     2.900000           1.4          0.5  virginica
1   2           3.6     3.200000           3.0          0.5     setosa
2   3           3.8     2.988153           2.2          1.5     setosa
3   4           5.8     2.700000           2.6          1.2  virginica
4   5           4.9     3.600000           3.0          1.2  virginica

In [13]:
# Find any values in the dataframe that are still missing, and delete them.
data = df_filled.dropna()

In [14]:
# How many different species are there?
num_unique_values = data['species'].nunique()
num_unique_values

10

In [20]:
# Clean up the 'species' variable so that there are exactly three different values.
unique_values = data['species'].unique()
data['species'] = data['species'].str.lower()
data['species'] = data['species'].str.replace('setoso','setosa')
data['species'] = data['species'].str.replace('viginica','virginica')
data['species'] = data['species'].str.replace('virginia','virginica')
data['species'] = data['species'].str.replace('setosan','setosa')

unique_values #printed this before to see what the unique values were then fixed the typos

array(['virginica', 'setosa', 'versicolor'], dtype=object)

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [27]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'aabb+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
print(type(re.match(exp,test)))

# uncomment this line if you want
print(bool(re.match(exp,test)))

match!
<class 're.Match'>
True

Regular Expression: ^[A-Z]{3}\d{4}$

In [38]:
pattern = re.compile('^[A-Z]{3}\d{4}$')

test_strings = ['AGL4827', 'AGL482', 'aGL4827', 'KLP4000', 'MDJP738']
for test_string in test_strings:
  if re.match(pattern,test_string):
    print("match!")
  else:
    print("no match")

match!
no match
no match
match!
no match